@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Josefin+Sans:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #FF2625;
    --text-color: #3A1212;
    --main-bg: #fffafb;
    --font-Alegreya: 'Alegreya', serif;
    --font-JosefinSans: 'Josefin Sans', sans-serif;
}

.header__container{
    position: relative;
    background: url(/img/home-bg-kvadrat.jpg) no-repeat ;
    background-position: left 20%;
    width: 100%;
    min-height: 150vh;
    margin: 0 auto;
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
    padding-left: 215px;
    /* z-index: -22; */
}


.header__home-title{
    width: 50%;
    /* background-color: #FF2625; */
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.bar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.bar-menu li a{
    margin: 0 15px;
    text-decoration: none;
    color: #837171;
    font-family: var(--font-Alegreya);
    font-weight: normal;
    font-style: Regular;
    font-size: 24px;
    line-height: 38px;
    line-height: 160%;
}

.bar-menu a:hover{
    color: var(--text-color);
    border-bottom: 3px solid var(--main-color);
    /* transition: all .3s; */
}

.header__main-block{
    width: 100%;
    min-height: 70vh;
    margin-top: 170px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.header__row{
    display: flex;
    width: 100%;
    align-items: center;
}

.header__row h3{
    font-size: 26px;
    color: var(--main-color);
    font-family: var(--font-JosefinSans);
    font-weight: 600;
    font-style: normal;
    margin-right: 15px;
}

.header__row img{
    width: 24px;
    height: 20px;
}

.header__main-title{
    font-size: 80px;
    line-height: 88px;
    color: var(--text-color);
    font-family: var(--font-JosefinSans);
    font-weight: bold;
    font-style: normal;
    margin: 40px 0;
}

.header__main-block p{
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    color: var(--text-color);
    margin-bottom: 61px;
}

.header__row button{
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    color: var(--text-color);
    /* padding: 11px 48px; */
    border-radius: 29px;
    border: 0.75px solid var(--main-color);
    background-color: transparent;
    width: 200px;
    height: 58px;
}

.header__row button:hover{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.header__row button:first-child{
    margin-right: 29px;
}

.header__home-img{
    /* position: relative; */
    max-width: 50%;
    max-height: 1007px;
    
}



.header__main-img{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header__play-button{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50 -50);

}

.header__dots{
    position: absolute;
    right: 30px;
    bottom: 80px;
}


.bottom-text-img{
    position: absolute;
    bottom: 100px;
    left: 12%;
    z-index: 2;
}

.vector-icon{
    position: absolute;
    bottom: 0;
    left: 60px;
}

.training__services{
    width: 100%;
    height: 700px;
    background-color: var(--main-bg);
    padding-top:10px;
}

.training__sub-text{
    text-align: center;
    font-family: var(--font-JosefinSans);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 160%;
    color: var(--main-color);
}

.training__main-title{
    text-align: center;
    font-family: var(--font-JosefinSans);
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    color: var(--text-color);
    margin: 28px 0;
}

.training__boxs{
    width: 100%;
    height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.training__box{
    margin: 0 20px;
    width: 270px;
    height: 282px;
    background: #FFFFFF;
    border: 0.5px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 35px;
    padding: 55px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.training__box:hover, a{
    height: 332px;
}

.training__box img{
    width: 63px;
    height: 62px;
}

.training__box h4{
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;
    color: var(--text-color);
    margin: 47.5px 0 40px 0;
}

.training__box a{
    text-decoration: none;
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */

    text-align: center;
    color: var(--main-color);
    display: none;
}

.box__slide{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 215px;
}

.slide__left{
    width: 13.08px;
    height: 7.36px;
    margin-right: 3px;
    cursor: pointer;
}

.slide__right{
    width: 29.39px;
    height: 16.54px;
    cursor: pointer;
}

.training__services__body{
    width: 100%;
    height: 250vh;
    background-color: var(--main-bg);
}

.services__body__itimes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    
}

.body__itime__img{
    position: relative;
    max-width: 566px;
    max-height: 667px;
}

.itime__img-top{
    width: 100%;
    height: 100%;
    border-radius: 2px 2px 100px 2px;
}

.itime__dots-top{
    position: absolute;
    top: -37px;
    left: -37px;
}

.body__itime__title{
    max-width: 400px;
}

.itime__sub-title{
    font-family: var(--font-JosefinSans);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 160%;
    /* identical to box height, or 42px */
    color: var(--main-color);
    margin-top: 70px;
}

.itime__main-title{
    font-family: var(--font-JosefinSans);
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */

    color: var(--text-color);
    margin: 28px 0;
}

.body__itime__title p{
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    color: var(--text-color);
}

.body__itime__title button{
    width: 200px;
    height: 58px;
    border-radius: 29px;
    background-color: var(--main-color);
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.body__itime__img-down{
    position: relative;
    max-width: 566px;
    max-height: 667px;
}

.img__radius{
    width: 100%;
    height: 100%;
    border-radius: 100px 2px 2px 2px;
}

.itime__dots-bottom{
    position: absolute;
    right: -37px;
    bottom: -38px;
}


