@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Josefin+Sans:wght@100;200;300;400;500&family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #FF2625;
    --text-color: #3A1212;
    --main-bg: #fffafb;
    --font-Alegreya: 'Alegreya', serif;
    --font-JosefinSans: 'Josefin Sans', sans-serif;
}

.header__container{
    position: relative;
    background: url(/img/home-bg-kvadrat.jpg) no-repeat ;
    background-position: left 20%;
    width: 100%;
    min-height: 150vh;
    margin: 0 auto;
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
    padding-left: 215px;
    /* z-index: -22; */
}


.header__home-title{
    width: 50%;
    /* background-color: #FF2625; */
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.bar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.bar-menu li a{
    margin: 0 15px;
    text-decoration: none;
    color: #837171;
    font-family: var(--font-Alegreya);
    font-weight: normal;
    font-style: Regular;
    font-size: 24px;
    line-height: 38px;
    line-height: 160%;
}

.bar-menu a:hover{
    color: var(--text-color);
    border-bottom: 3px solid var(--main-color);
    /* transition: all .3s; */
}

.hamburger{
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid var(--main-color); */
}

.hamburger__btn{
    width: 50px;
    height: 6px;
    background: var(--main-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.hamburger__btn::before,
.hamburger__btn::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: var(--main-color);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
    transition: all .5s ease-in-out;
}

.hamburger__btn::before{
    transform: translateY(-16px);
}

.hamburger__btn::after{
    transform: translateY(16px);
}

.hamburger:active .hamburger__btn{
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.hamburger:active .hamburger__btn::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.hamburger:active .hamburger__btn::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.header__main-block{
    width: 100%;
    min-height: 70vh;
    margin-top: 170px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.header__row{
    display: flex;
    width: 100%;
    align-items: center;
}

.header__row h3{
    font-size: 26px;
    color: var(--main-color);
    font-family: var(--font-JosefinSans);
    font-weight: 600;
    font-style: normal;
    margin-right: 15px;
}

.header__row img{
    width: 24px;
    height: 20px;
}

.header__main-title{
    font-size: 80px;
    line-height: 88px;
    color: var(--text-color);
    font-family: var(--font-JosefinSans);
    font-weight: bold;
    font-style: normal;
    margin: 40px 0;
}

.header__main-block p{
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    color: var(--text-color);
    margin-bottom: 61px;
}

.header__row button{
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 35px;
    color: var(--text-color);
    /* padding: 11px 48px; */
    border-radius: 29px;
    border: 0.75px solid var(--main-color);
    background-color: transparent;
    width: 200px;
    height: 58px;
}

.header__row button:hover{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.header__row button:first-child{
    margin-right: 29px;
}

.header__home-img{
    /* position: relative; */
    max-width: 50%;
    max-height: 1007px;
    
}



.header__main-img{
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.header__play-button{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50 -50);

}

.header__dots{
    position: absolute;
    right: 30px;
    bottom: 80px;
}


.bottom-text-img{
    position: absolute;
    bottom: 100px;
    left: 12%;
    z-index: 2;
}

.vector-icon{
    position: absolute;
    bottom: 0;
    left: 60px;
}

.training__services{
    width: 100%;
    min-height: 700px;
    background-color: var(--main-bg);
    padding-top:10px;
}

.training__sub-text{
    text-align: center;
    font-family: var(--font-JosefinSans);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 160%;
    color: var(--main-color);
}

.training__main-title{
    text-align: center;
    font-family: var(--font-JosefinSans);
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    color: var(--text-color);
    margin: 28px 0;
}

.training__boxs{
    width: 100%;
    min-height: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.training__box{
    margin: 0 20px;
    width: 270px;
    height: 282px;
    background: #FFFFFF;
    border: 0.5px solid #E1E1E1;
    border-radius: 5px 5px 5px 35px;
    padding: 55px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

.training__box:hover{
    
}

.training__box img{
    width: 63px;
    height: 62px;
}

.training__box h4{
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    text-align: center;
    color: var(--text-color);
    margin: 47.5px 0 40px 0;
}

.training__box a{
    text-decoration: none;
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 120%;
    /* or 26px */

    text-align: center;
    color: var(--main-color);
    display: none;
}

.box__slide{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 215px;
}

.slide__left{
    width: 13.08px;
    height: 7.36px;
    margin-right: 3px;
    cursor: pointer;
}

.slide__right{
    width: 29.39px;
    height: 16.54px;
    cursor: pointer;
}

.training__services__body{
    width: 100%;
    min-height: 230vh;
    background-color: var(--main-bg);
}

.services__body__itimes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    
}

.body__itime__img{
    position: relative;
    max-width: 566px;
    max-height: 667px;
}

.itime__img-top{
    width: 100%;
    height: 100%;
    border-radius: 2px 2px 100px 2px;
    object-fit: cover;
}

.itime__dots-top{
    position: absolute;
    top: -37px;
    left: -37px;
}

.body__itime__title{
    width: 400px;
}

.itime__sub-title{
    font-family: var(--font-JosefinSans);
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 160%;
    /* identical to box height, or 42px */
    color: var(--main-color);
    padding-top: 70px;
}

.itime__main-title{
    font-family: var(--font-JosefinSans);
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */

    color: var(--text-color);
    margin: 28px 0;
}

.body__itime__title p{
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    color: var(--text-color);
}

.body__itime__title button{
    width: 200px;
    height: 58px;
    border-radius: 29px;
    background-color: var(--main-color);
    font-family: var(--font-Alegreya);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.body__itime__title button:hover{
    border: 1px solid var(--main-color);
    background-color: transparent;
    color: var(--text-color);
}

.body__itime__img-down{
    position: relative;
    max-width: 566px;
    max-height: 667px;
}

.img__radius{
    width: 100%;
    height: 100%;
    border-radius: 100px 2px 2px 2px;
    object-fit: cover;
}

.itime__dots-bottom{
    position: absolute;
    right: -37px;
    bottom: -38px;
}

.training__instructors__box{
    width: 100%;
    min-height: 700px;
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 250px;
}

.training__instructors__box .itime__sub-title{
    margin-top: 0;
    padding-top: 0;
}

.instructor__box{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;

}

.box__itime h5{
    text-align: center;
    font-family: Alegreya;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 160%;
    color: var(--text-color);
}

.box__itime p{
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 32px */

    text-align: center;
    color: var(--text-color);
}

.training__testimonial{
    width: 100%;
    min-height: 800px;
    background-color: var(--main-bg);
    padding-top: 50px;
    display: flex;
    padding: 0 150px;
}

.testimonial__img{
    max-width: 500px;
    max-height: 719px;
}

.testimonial__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonial__title{
    position: relative;
    max-width: 500px;
    max-height: 700px;
    padding: 0 50px;
}

.testimonial__title h5{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 160%;
    /* identical to box height, or 42px */
    color: var(--main-color);
}

.testimonial__title h1{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */
    color: var(--text-color);
    margin: 28px 0 60px 0;
}

.testimonial__commit-itime{
    position: absolute;
    bottom: 40px;
    left: -50px;
    width: 624px;
    height: 426px;
    background: #FFFFFF;
    border-radius: 2px 100px 2px 2px;
    padding: 60px;
    z-index: 2;
    box-shadow: 3px 27px 47px -3px rgba(240,194,194,0.75);
}

.testimonial__commit-itime p{
    font-family: Josefin Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */
    color: var(--text-color);
}

.testimonial__commit-itime h4{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    /* or 31px */
    color: var(--text-color);
    margin: 39px 0 8px 0;
}

.testimonial__commit-itime h5{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    color: var(--text-color);
}

.testimonial__dots{
    position: absolute;
    bottom: -30px;
    right: -135px;
}

.contact__email{
    width: 100%;
    min-height: 500px;
    background-color: var(--main-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact__email h1{
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 130%;
    /* or 57px */

    text-align: center;
    color: var(--text-color);
}

.contact__email p{
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 160%;
    /* or 35px */

    text-align: center;
    margin: 24px 0 36px 0;
}

.contact__email__input{
    width: 632px;
    height: 76px;
    background-color: #FFFFFF;
    border-radius: 36.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 12px 37px 40px -11px rgba(243,160,160,0.82);
}

.contact__email__input input{
    width: 205px;
    height: 32px;
    margin-left: 79px;
    border: none;
    outline: none;

}

.contact__email__input input::placeholder{
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 32px */

    color: #9B9DAC;
}

.contact__email__input button{
    width: 170px;
    height: 58px;
    border-radius: 30px;
    border: none;
    margin-right: 7px;
    background-color: var(--main-color);
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 160%;
    /* identical to box height, or 32px */

    cursor: pointer;
    color: #FFFFFF;
}

.contact__email__input button:hover{
    background-color: rgb(210,25,45);
}


.fitness__footer__page{
    position: relative;
    width: 100%;
    min-height: 440px;
    background: rgba(255, 243, 244, 0.9);
    padding: 85px 200px;
    display: flex;

}

.footer__title{
    width: 30%;
}

.footer__title p{
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */

    letter-spacing: -0.02em;
    color: var(--text-color);
    margin: 33px 0 26px 0;
}

.footer__icons{
    display: flex;
    list-style-type: none;
}

.footer__icon i{
    width: 44.76px;
    height: 44.76px;
    border-radius: 50%;
    margin-right: 13.53px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
}


.footer__icon i:hover{
    background-color: var(--main-color);
    color: #FFFFFF;
}

.footer__nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.footer__navbar li{
    list-style-type: none;
    margin-bottom: 18px;
}

.footer__navbar li a{
    text-decoration: none;
    font-family: Alegreya;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    color: #504747;
}

.footer__navbar .navbar__main-title a{
    font-family: Josefin Sans;
    color: #3A1212;
}

.footer__navbar .navbar__main-title{
    margin-bottom: 39px;
}

.footer__bootom__title{
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translate(-50%);
    font-style: normal;
    font-weight: 450;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */

    color: #A69B9B;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

    .hamburger{
        display: flex;
    }
    .header__container{
        padding: 50px;
    }

    .bar-menu{
        display: none;
    }

    .header__home-title{
        width: 100%;
    }
    
    .header__main-title{
        font-size: 60px;
        
    }

    .training__boxs{
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .body__itime__img-down, .itime__img-top{
        display: none;
    }

    .itime__dots-top, .itime__dots-down{
        display: none;
    }


    .bottom-text-img{
        display: none;
    }

    .header__home-img{
        display: none;
    }

    .header__main-block{
        width: 100%;
    }


}

@media screen and (max-width: 920px) {
    .testimonial__dots, .testimonial__img{
        display: none;
    }

}

@media screen and (max-width:768px) {
    .header__home-img{
        display: none;
    }

    .body__itime__title{
        width: 100%;
        height: auto;
    }

    .services__body__itimes{
        padding: 100px 0;
        justify-content: center;
        width: 100%;
    }

    .testimonial__commit-itime{
        width: auto;
        height: auto;
        position: unset;
    }

    .testimonial__commit-itime{
        display: none;
    }

    #contact > *{
        width: auto;
    }

    #contact{
        padding: 0 10px;
    }

    .fitness__footer__page{
        padding: 80px 50px;

    }


}

@media screen and (max-width:668px) {
    .contact__email__input{
        width: auto;
    }
}


@media screen and (max-width:481px) {

    .header__row{
        flex-wrap: wrap;
    }

    .header__row button{
        margin: 10px 0;
    }

    .training__box{
        margin: 7px 0;
    }

    .box__slide{
        bottom: -20px;
        right: 40px;
    }

    .training__instructors__box{
        padding: 0 20px;
    }

    .training__testimonial{
        padding: 30px 20px;
    }

    .body__itime__title{
        padding: 0 20px;
    }

    .body__itime__title button{
        align-items: center;
    }
    .itime__sub-title, .itime__main-title{
        text-align: center;
    }

    .itime__main-title{
        font-size: 30px;
    }

    .training__main-title{
        font-size: 35px;
    }

    .testimonial__commit-itime{
        display: none;
    }

    .contact__email__input{
        flex-direction: column;
    }

    .contact__email__input > *{
        width: auto;
    }

    .contact__email__input input{
        margin: 10px;
    }

    .fitness__footer__page{
        padding-top: 80px;
        padding: 0 20px;

        flex-direction: column;
    }

    .footer__nav{
        flex-direction: column;
        margin:50px 0 100px 0;
    }

}