*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: #FF2625;
    --text-color: #3A1212;
    --main-bg: #fffafb;
}

.header__container{
    position: relative;
    background: url(/img/home-bg-kvadrat.jpg) no-repeat ;
    background-position: left 20%;
    width: 100%;
    min-height: 150vh;
    margin: 0 auto;
    background-color: var(--main-bg);
    display: flex;
    justify-content: space-between;
    padding-left: 215px;
    z-index: -22;
}


.header__home-title{
    width: 50%;
    /* background-color: #FF2625; */
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.bar-menu{
    display: flex;
    align-items: center;
    list-style: none;
}

.bar-menu li a{
    margin: 0 15px;
    text-decoration: none;
    color: #837171;
    font-style: Regular;
    font-size: 24px;
    line-height: 38px;
    line-height: 160%;
}

.bar-menu a:hover{
    color: var(--text-color);
    border-bottom: 2px solid var(--main-color);
    /* transition: all .3s; */
}

.header__main-block{
    width: 100%;
    min-height: 70vh;
    margin-top: 170px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.header__row{
    display: flex;
    width: 100%;
    align-items: center;
}

.header__row h3{
    font-size: 26px;
    color: var(--main-color);
    margin-right: 15px;
}

.header__row img{
    width: 24px;
    height: 20px;
}

.header__main-title{
    font-size: 80px;
    line-height: 88px;
    color: var(--text-color);
    margin: 40px 0;
}

.header__main-block p{
    font-size: 22px;
    line-height: 35px;
    color: var(--text-color);
    margin-bottom: 61px;
}

.header__row button{
    font-size: 22px;
    line-height: 35px;
    color: var(--text-color);
    /* padding: 11px 48px; */
    border-radius: 29px;
    border: 0.75px solid var(--main-color);
    background-color: transparent;
    width: 200px;
    height: 58px;
}

.header__row button:hover{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.header__row button:first-child{
    margin-right: 29px;
}

.header__home-img{
    /* position: relative; */
    max-width: 50%;
    max-height: 1007px;
    
}



.header__main-img{
    z-index: 1;
}

.header__play-button{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50 -50);

}

.header__dots{
    position: absolute;
    right: 30px;
    bottom: 80px;
}


.bottom-text-img{
    position: absolute;
    bottom: 100px;
    left: 12%;
    z-index: -1;
}

.vector-icon{
    position: absolute;
    bottom: 0;
    left: 60px;
}

